@model PenSamples.Web.Models.SecretModel

@{
    ViewBag.Title = @Model.Description;
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Share your secret:</legend>
        <div>
            @Html.LabelFor(m => m.Description)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Description)
        </div>
        
        <div>
            @Html.LabelFor(m => m.Text)
        </div>
        <div>
            @Html.TextAreaFor(m => m.Text)
        </div>
        
        <input type="submit" value="Create"/>

    </fieldset>
}