@model PenSamples.Web.Models.SecretsListModel

@{
    ViewBag.Title = "Secrets List";
}

<p>My name is @Model.User, and

    @if (Model.Secrets.Any())
    {
        <span>those are all my secrets:</span>
    }
    else
    {
        <span>I've got no secrets</span>
    }
</p>

<ul>
    @foreach (var secret in Model.Secrets)
    {
        <li>
            <p>
                @secret.Description
            </p>
            <b>Posted by @secret.User</b>@Html.ActionLink("Read more spicy details ^_^", "Details")
        </li>
    }
</ul>

<p>
    @Html.ActionLink("Make coming out", "Create")
</p>